	---
	import Layout from '../layouts/Layout.astro';
	import Badge from '../components/Badge.astro';
	import SectionContainer from '../components/SectionContainer.astro';
	import LinkedInIcon from '../components/icons/LinkedIn.astro';
	import GitHubIcon from '../components/icons/GitHub.astro';
	import SocialPill from '../components/SocialPill.astro';
	import MailIcon from '../components/icons/Mail.astro';
	import Experience from '../components/Experience.astro';
	import BriefcaseIcon from '../components/icons/Briefcase.astro';
	import CodeIcon from '../components/icons/CodeIcon.astro';
	import Proyects from '../components/Proyects.astro';
	import UserIcon from '../components/icons/UserIcon.astro';

	---

	<Layout title="Aleeh's Portfolio">
		<main class="px-4" >
			<SectionContainer id="top" class="py-16 md:py-36">	
			<h1 class="relative flex justify-center space-x-4 size-fit"> 
				<img class="rounded-full w-30 h-40" src="perfil.jpeg" alt="mi imagen" />
				<div class="relative flex flex-col items-center">
				 <span class="flex items-center text-center text-xl text-wrap max-w-md mx-auto ">Hola, soy Alejandro 
				</span>
				<Badge>Disponible para trabajar</Badge>
				<span class="text-center text-wrap max-w-md mx-auto text-xl">Soy un <span class="text-yellow-400 dark:text-yellow-200/90">desarrollador de
					Software Junior</span>, con habilidades tanto en el Frontend como en el Backend
					. Me especializo sobretodo en el diseño e implementación de interfaces de usuario</span>
				</div>
				</h1>
				<nav class="flex gap-x-2">
						<SocialPill href="https://www.linkedin.com/in/eddy-alejandro-guerra-rubio-075224333/">
							<LinkedInIcon  class="size-6" />
							LinkedIn
						</SocialPill>
						<SocialPill href="https://github.com/AleehGuerra">
							<GitHubIcon  class="size-6" />
							GitHub
						</SocialPill> 
						<SocialPill href="mailto:aleeguerra@gmail.com">
							<MailIcon  class="w-6 h-6" />
							aleehguerra@gmail.com
						</SocialPill> 
				</nav>	
			</SectionContainer>	
			<SectionContainer id="experiencia" class="py-20">
				<h2 class="text-2xl font-semibold mb-3 flex flex-row gap-x-2 items-center">
					<BriefcaseIcon class="size-6"/>
					Experiencia Laboral 
				</h2>
			<Experience/>
			</SectionContainer>
			<SectionContainer id="proyectos">
				<h2 class="text-2xl font-semibold mb-3 flex flex-row gap-x-2 items-center">
					<CodeIcon class="size-6"/>
					Proyectos 
				</h2>
				<Proyects />
			</SectionContainer>
			<SectionContainer id="sobremi" class="py-36">
				<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
				<h2 class="flex flex-row gap-x-2"> 
					<UserIcon />
					Sobre Mí
				</h2>
				<div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-">
				<p>Mi nombre es Eddy Alejandro Guerra Rubio, pero para mis amigos cercanos soy Ale. Soy un desarrollador de software Junior. Actualmente soy estudiante de la Universidad de Ciencias Informáticas. Además estoy <span class="text-yellow-400 dark:yellow-200/90">liderando un equipo de desarrollo llamado Bifrost Innovations</span>
					
				</p>
			</article>
				</div>
			</SectionContainer>
	</Layout>


